%link{:href =>"/css/bootstrap.min.css", :rel => "stylesheet"}

%nav{:class => "navbar navbar-default navbar-fixed-top", :role => "navigation"}
	%div{:class => "container-fluid"}
		%div{:class => "navbar-collapse collapse"}
			%ul{:class => "nav navbar-nav"}
				%li{:class => "active"}
					%a{:href => "#"}Current
				%li
					%a{:href => "#"}Forecast
				%li
					%a{:href => "#"}Radar
				%li
					%a{:href => "#"}Traffic
					

%table.table
	%thead
		%tr
			%th{:colspan => "2"} Weather Information
	%tbody
		%tr
			%td City
			%td=@city
		%tr
			%td Zip
			%td=@zip
		%tr
			%td Temp
			%td="#{@temp} F"
		%tr
			%td Wind
			%td="#{@wind} mph"
		%tr
			%td Humidity
			%td="#{@humidity} %"
		%tr
			%td Currently
			%td=@outside

%script{:src =>"https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"}

%script{:src => "js/bootstrap.min.js"}


