%link{:href =>"/css/bootstrap.css", :rel => "stylesheet"}

%nav{:class => "navbar navbar-default navbar-fixed-top", :role => "navigation"}
	%ul{:class => "nav navbar-nav"}
		%li{:class => "#{@current_tab}"}
			%a{:href => "/current"}Current
		%li{:class => "#{@forecast_tab}"}
			%a{:href => "/forecast"}Forecast
		%li{:class => "#{@radar_tab}"}
			%a{:href => "/radar"}Radar
		%li{:class => "#{@network_tab}"}
			%a{:href => "/network_traffic"}Network Traffic





%script{:src =>"https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"}

%script{:src => "js/bootstrap.min.js"}
	

